<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <div routerLink="products" style="cursor: pointer">
        <i style="font-size: 40px" class="fas fa-shipping-fast"></i>
        <strong style="font-size: 30px">Flipkart</strong>
      </div>

      <div class="form-group" style="position: relative">
        <input type="text" placeholder="search product" class="form-control" />
        <span class="fas fa-search search-icon"></span>
      </div>
    </div>

    <button routerLink="cart" class="btn btn-primay">
      <i style="font-size: 30px; color: #fff" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px" class="badge bg-danger">{{ totalItem }}</div>
    </button>
  </div>
</header>
